#original-content-wrapper,
#custom-div-wrapper {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
}

#original-content-wrapper {
  left: 0;
}

#custom-div-wrapper {
  right: 0;
  padding: 30px;
}

#custom-div {
  max-width: 800px;
  margin: 0 auto;
}

.highlighted {
  background-color: rgba(255, 255, 0, 0.1);
  /* 透明黄色背景 */
  border-radius: 4px;
  /* 圆角边框 */
}