#original-content-wrapper,
#custom-div-wrapper {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
}

#original-content-wrapper {
  left: 0;
}

#custom-div-wrapper {
  right: 0;
  padding: 100px 40px 200px;
  background-color: white;
  border-left: 1px solid #ccc;
  background-color: #f9f9f9;
}

#split-view-container.hide {
  #original-content-wrapper {
    width: 100%;
    position: static;
  }

  #custom-div-wrapper {
    display: none;
    position: static;
  }
}