$font-family: 'Roboto', sans-serif;
$font-family-code: 'Courier New', monospace;
$base-color: #333;
$heading-color: #444;
$code-background-color: #f5f5f5;
$blockquote-border-color: #ccc;
$link-color: $base-color;
$link-hover-color: $base-color;
$light-color: #777;

#custom-div {
  font-family: $font-family;
  font-size: 1.2em;
  line-height: 1.6;
  color: $base-color;
  max-width: 820px;
  margin: 100px auto 200px;
  padding: 30px 60px 60px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); // 自定义阴影效果

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-color;
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: bold;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 2.2em - ($i - 1) * 0.6;
    }
  }

  h2,
  h3 {
    margin-top: 48px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.2em;
    text-align: justify;
  }

  code,
  pre {
    font-family: $font-family-code;
    background-color: $code-background-color;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.9em;
  }

  pre {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    margin-bottom: 1.2em;
  }

  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 1.2em;
    list-style: auto;

    li {
      margin-top: 0.5em;
    }
  }

  blockquote {
    border-left: 3px solid $blockquote-border-color;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 1.2em;
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1.2em;
  }

  a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  >author {
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #aaa;
  }

  .excerpt {
    color: #aaa;
    margin: 20px auto;
  }

  figure {
    margin: 40px auto;

    figcaption {
      color: $light-color;
      text-align: center;
    }
  }

  .highlighted {
    background-color: rgba(255, 255, 0, 0.1);
    border-radius: 4px;
  }
}